.btn-contribuinte {
  position: absolute;
  width: 203px;
  height: 217px;
  left: 1027px;
  top: 537px;
  background: linear-gradient(138.85deg, #8cd29c 4.86%, #51ae8b 95.84%);
  border-radius: 15px;
}
