:root {
  --verde-principal: #2d6353;
  --verde-botao: #2d6353;
  --cinza-borda: #cbd5e0;
  --bg-fundo: #f0f2f5;
  --azul-escuro: #2d6353;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-fundo);
  margin: 0;
}

.header-desktop {
  background-color: var(--verde-principal);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-voltar {
  color: white;
  text-decoration: none;
  display: flex;
}

.header-title {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
}

.menu-container {
  position: relative;
  cursor: pointer;
}

.btn-menu {
  color: white;
  font-size: 28px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background: white;
  min-width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 100;
}

.dropdown-content a {
  color: var(--verde-principal);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

.menu-container:hover .dropdown-content {
  display: block;
}

.main-desktop {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.conteudo-central {
  background: white;
  width: 100%;
  max-width: 550px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.subtitulo-formulario {
  color: var(--azul-escuro);
  margin: 30px 0 15px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.input-group {
  margin-bottom: 15px;
}

.input-row {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.input-padrao {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--cinza-borda);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  color: #2d6353;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.seta-clique {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #4a5568;
}

.select-custom {
  appearance: none;
  cursor: pointer;
}

.link-desativar-container {
  text-align: center;
  margin: 35px 0;
}

.link-desativar {
  color: var(--azul-escuro);
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.05rem;
}

.botoes-form-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-concluir {
  background-color: var(--azul-escuro);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-cancelar {
  background-color: white;
  color: var(--azul-escuro);
  border: 2px solid var(--azul-escuro);
  padding: 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
